[submodule "apps/alexa-nodejs-test-skill"]
	path = apps/alexa-nodejs-test-skill
	url = https://github.com/avansinformatica/alexa-nodejs-test-skill.git
[submodule "apps/alexa-airportinfo"]
	path = apps/alexa-airportinfo
	url = https://github.com/avansinformatica/alexa-airportinfo.git
[submodule "apps/alexa-nodejs-avans-info"]
	path = apps/alexa-nodejs-avans-info
	url = https://github.com/rschellius/alexa-nodejs-avans-info.git
