[submodule "apps/alexa-nodejs-test-skill"]
	path = apps/alexa-nodejs-test-skill
	url = https://github.com/avansinformatica/alexa-nodejs-test-skill.git
[submodule "apps\\alexa-nodejs-test-skill"]
	path = apps\\alexa-nodejs-test-skill
	url = https://github.com/avansinformatica/alexa-nodejs-test-skill.git
